<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1a03ab0e-e46e-4075-a7bf-dd33320b8dee/resourcegroups/CA2/providers/Microsoft.Web/sites/BookReviewAPI20240327165500</ResourceId>
    <ResourceGroup>CA2</ResourceGroup>
    <ApiResourceId>/subscriptions/1a03ab0e-e46e-4075-a7bf-dd33320b8dee/resourceGroups/CA2/providers/Microsoft.ApiManagement/service/BookReviewAPI/apis/BookReview</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookreviewapi20240327165500.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a60d616b-e5ae-46e8-b4bd-d8299fe12936</ProjectGuid>
    <MSDeployServiceURL>bookreviewapi20240327165500.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BookReviewAPI20240327165500</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BookReviewAPI20240327165500</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>